/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
@font-face {
    font-family: Jost;
    src: url(Jost-700-Bold.ttf);
}
.navbar
{
    height:80px;
}
.navbar-brand {
    position: absolute;
    width: 134px;
    height: 35px;
    left: 45px;
    top: 23px;
    font-family: Jost;
    font-style: normal;
    font-weight: 1;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    display: flex;
    align-items: center;
}
.videoFrame {
    height: 380px;
    width: 100%;
    background-image:url('../img/image 2.png');
}
main {
    background-color: #F8F8F8;
}
.chatFrame
{
    background-color:white;
    padding:0;
}
.tags {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
}
.tagsFrame
{
    padding-left:0;
}
.tagsFrame li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}
.chat {
    position: relative;
}
.chat-message {
    position: absolute;
    bottom: 0;
}
.btnAllert
{
    padding-top:20px;
}
.btnAllert .btn {
    border-radius: 25px;
    height: 44px;
    margin-right:5px;
}